.thumbnail img {
    max-height: 150px;
    text-align: center;
    
}

.thumbnail .description {
    color:darkgray;
}
.price {
    font-weight: bold;
    font-size: 16px;
    float: left;
}

.btn {
    float: right;
}